body {
    font-family: Arial, sans-serif;
}

.container {
display: flex;
justify-content: center;
align-items: center;

height: 300px;
border: 2px solid black;

}

.caixa {

width: 100px;
height: 100px;

background-color: steelblue;
color: white;

display: flex;
justify-content: center;
align-items: center;

}










